
    <h3>Contact page</h3>
    <table >
        <tbody>
            <tr>
                <th>NAME:</th>
                <td><%=contact.name%></td>
            </tr>
            <tr>
                <th>PHONE:</th>
                <td><%=contact.phone%></td>
            </tr>
            <tr>
                <th>ADDRESS:</th>
                <td><%=contact.address%></td>
            </tr>
        </tbody>
    </table>
    <br>
   <br>
